/* fonts */
*{
    box-sizing: border-box;
}
/* text */

body{
    font-family: 'Roboto', sans-serif;
    width:100%;
}

:focus {
    outline: medium none;
}

span, p{
    color: #000;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 15px;
}

a{
    color: #000;
    font-size: 16px;
    line-height: 1.4;
    text-decoration: none;
}

h1{
   font-size: 32px;
    color: #000;
    margin-bottom: 15px;
}


h2{
    font-size: 24px;
    color: #000;
    margin-bottom: 15px;
}

h3{
    font-size: 20px;
    color: #000;
    margin-bottom: 15px;
}

h4{
    font-size: 20px;
    color: #000;
    margin-bottom: 15px;
}

.main_wrap{
    width: 100%;
    min-width: 280px;
    margin: auto;
    background-color: #efefef;
}

.content_wrapper{
    width: 100%;
    max-width: 980px;
    margin: auto;
    box-shadow: 0 0 12px 0 #737373;
    background: #ffffff;
}

.subheader_wrap{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbfbfb+43,f0efef+54,f0efef+59 */
    background: rgb(251,251,251); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0MyUiIHN0b3AtY29sb3I9IiNmYmZiZmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1NCUiIHN0b3AtY29sb3I9IiNmMGVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1OSUiIHN0b3AtY29sb3I9IiNmMGVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(251,251,251,1) 43%, rgba(240,239,239,1) 54%, rgba(240,239,239,1) 59%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(251,251,251,1) 43%,rgba(240,239,239,1) 54%,rgba(240,239,239,1) 59%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(251,251,251,1) 43%,rgba(240,239,239,1) 54%,rgba(240,239,239,1) 59%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f0efef',GradientType=0 ); /* IE6-8 */
    box-shadow: -6px 3px 5px 1px #c5c5c5;
    width: 100%;
    min-width: 280px;
    position: relative;
    z-index: 97;
}

.subheader{
    width: 100%;
    max-width: 980px;
    margin: auto;
}

.subheader_item_left {
    display: block;
    float: left;
    padding-left: 30px;
    vertical-align: middle;
    width: 301px;
}


.subheader_item_left > li:last-child {
    padding-right: 0;
}

.subheader_item_left li {
    display: inline-block;
    padding-right: 15px;
    padding-top: 10px;
}

.subheader_item_left li a{
    border-bottom: 1px dotted #252525;
    color: #252525;
    font-size: 13px;
}


.subheader_item_left li a:hover{
    border-bottom: 1px dotted #fe9b13;
    color: #fe9b13;
}

.subheader_item_right{
    display:block;
    vertical-align: middle;
    float: right;
    width: 61%;
}

.subheader_item_right li{
    color: #7a7a7a;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    line-height: 12px;
    padding-left: 40px;
    vertical-align: middle;
    width: 114px;
    padding-bottom: 7px;
    padding-top: 7px;
}


.subheader_item_right li.li_item1 {
    background: rgba(0, 0, 0, 0) url("../img/ben-1.png") no-repeat scroll left center;
    width: 110px;
}

.subheader_item_right li.li_item2 {
    background: rgba(0, 0, 0, 0) url("../img/ben-2.png") no-repeat scroll left center;
    width: 100px;
}
.subheader_item_right li.li_item3 {
    background: rgba(0, 0, 0, 0) url("../img/ben-3.png") no-repeat scroll left center;
    width: 135px;

}
.subheader_item_right li.li_item4 {
    background: rgba(0, 0, 0, 0) url("../img/ben-4.png") no-repeat scroll left center;
    width: 90px;
}

.cloud{
     display: none;
     margin-left: -90px;
     position: absolute;
     top: 38px;
     width: 193px;
     z-index: 97;
     background: #ffffff;
     padding: 0 12px ;
     border-radius: 7%;
     box-shadow: 0 0 3px 1px #7a7a7a;

 }

.subheader_item_right li.li_item4>.cloud {
    margin-left: -126px;
}

.subheader_item_right li:hover .cloud{
    display: block;
}

.cloud_top:before {
    border-bottom: 9px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    top: -7px;
    width: 0;

}

.cloud_top{
    position: relative;
    height: 10px;
}

.cloud p{
    font-size: 10px;
    color: #7a7a7a;
}

header{
    width: 100%;
    max-width: 980px;
    min-width: 280px;
    margin: auto;

}

.header_bg{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+15,ffffff+61,ffffff+100 */
    background: rgb(238,238,238); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNSUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2MSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 15%, rgba(255,255,255,1) 61%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 15%,rgba(255,255,255,1) 61%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(238,238,238,1) 15%,rgba(255,255,255,1) 61%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
    position: relative;
}

.burger_menu{
    background: url("../img/burger.png") no-repeat;
    width:40px ;
    height:25px;
    margin: 20px 15px 0 15px;
    display: none;
    float: left;
}

.burger_menu_wrap ul{
    width: 100%;
    max-width: 395px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    z-index: 1000;
}

.burger_menu_wrap ul li{
    width: 100%;
    background: #333333;
    border-bottom: 1px solid #808080;
    display: block;
    position: relative;
}

.collapse_menu a {
    font-size: 14px !important;
    padding: 25px 11px !important;
    text-align: right;
    position: relative;
}

.collapse_menu a:after{
    position: absolute;
    content: "";
    background: url("../img/collaps.png") no-repeat;
    width: 9px;
    height: 13px;
    right: 81px;
    top: 29px;
}

.burger_menu_wrap ul li a{
     width: 100%;
     display: block;
     color: #ffffff;
     font-size: 16px;
     padding: 14px 56px;
     box-sizing: border-box;
    position: relative;
 }

.burger_menu_wrap ul li a:hover{
    opacity: 0.5;
}

.burger_menu1:before{
    content: "";
    position: absolute;
    background: url("../img/home.png") no-repeat;
    height: 18px;
    width: 20px;
    left: 15px;
    top: 16px;
}

.burger_menu2:before{
    content: "";
    position: absolute;
    background: url("../img/catalog.png") no-repeat;
    height: 15px;
    width: 15px;
    left: 15px;
    top: 18px;
}

.burger_menu3:before{
    content: "";
    position: absolute;
    background: url("../img/category.png") no-repeat;
    height: 15px;
    width: 15px;
    left: 15px;
    top: 18px;
}

.burger_menu4:before{
    content: "";
    position: absolute;
    background: url("../img/brend.png") no-repeat;
    height: 18px;
    width: 22px;
    left: 15px;
    top: 16px;
}

.burger_menu5:before{
    content: "";
    position: absolute;
    background: url("../img/lookbook.png") no-repeat;
    height: 17px;
    width: 23px;
    left: 15px;
    top: 16px;
}

.burger_menu6:before{
    content: "";
    position: absolute;
    background: url("../img/rev.png") no-repeat;
    height: 20px;
    width: 22px;
    left: 15px;
    top: 16px;
}

.burger_menu7:before{
    content: "";
    position: absolute;
    background: url("../img/blog.png") no-repeat;
    height: 19px;
    width: 23px;
    left: 15px;
    top: 15px;
}

.burger_menu8:before{
    content: "";
    position: absolute;
    background: url("../img/about.png") no-repeat;
    height: 12px;
    width: 22px;
    left: 15px;
    top: 18px;
}

.burger_menu9:before{
    content: "";
    position: absolute;
    background: url("../img/garant.png") no-repeat;
    height: 25px;
    width: 22px;
    left: 15px;
    top: 13px;
}

.burger_menu10:before{
    content: "";
    position: absolute;
    background: url("../img/shipping.png") no-repeat;
    height: 25px;
    width: 22px;
    left: 15px;
    top: 13px;
}

.burger_menu11{
    color: #ff6f00 !important;
    text-decoration: underline;
}

.burger_menu11:before{
    content: "";
    position: absolute;
    background: url("../img/tel.png") no-repeat;
    height: 24px;
    width: 12px;
    left: 18px;
    top: 13px;
}

@keyframes arrow
{

}

.multilevel_li>.arrow_a{
    display: block;
    height: 14px;
    padding: 0;
    position: absolute;
    right: 16px;
    top: 17px;
    width: 19px;
    -webkit-animation:arrow;
    animation: arrow;
}

.multilevel_li>.arrow_a:hover,.multilevel_li:hover .arrow_a {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: 1000ms;
    -webkit-transition:1000ms ;
}

.multilevel_li:hover ul{
    display: block;
}

.multilevel_li ul {
    display: none;
    position: static;
    width: 100%;
    z-index: 600;
}

.multilevel_li ul li{
    width: 100%;
    background: #808080;
    border-bottom: 1px solid #b3b3b3;
    display: block;
}

.multilevel_li ul li:last-child{
    border-bottom: none;
}

.multilevel_li ul li a{
    width: 100%;
    display: block;
    color: #ffffff;
    font-size: 16px;
    padding: 14px 75px;
    box-sizing: border-box;
    position: relative;
}

.multilevel_li ul li a:hover{
    opacity: 0.5;
}

header .header_logo{
    float: left;
    padding: 20px 60px 16px 12px;
}

header .header_logo a{
    background:url("../img/logo_header.png") no-repeat;
    width: 309px;
    height: 63px;
    display: block;
}

.phonebox{
    float: left;
    padding-top: 48px;
    text-align: center;
    width: 300px;
}

.phonebox p{
    color: #0a0a0a;
}

.phone,.phone span{
    font-size: 15px;
    font-weight: bold;
    line-height: 13px;
}


.phonebox p:last-child {
    font-size: 12px;
    line-height: 0;
    margin: 0;
}

.header_soc{
    display: block;
    float: left;
    margin: 30px 0 0;
    width:50px;
}

.header_soc>img{
    width:50px;
}

.loop_search{
    display: none;
    position: absolute;
    background: url("../img/loop1000.png") no-repeat;
    width: 31px;
    height: 31px;
    right: 85px;
    top: 18px;
}

.vipadayuschaya_korzina {
    background: rgba(0, 0, 0, 0) url("../img/korzina_1_border_background.png") no-repeat scroll 0 9px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    float: right;
    height: 95px;
    margin: 4px 0 0;
    position: relative;
    width: 105px;
    z-index: 96;
}


.vipadayuschaya_korzina a.a1_vipadayuschaya_korzina {
    background-image: url("../img/korzina_1.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    float: left;
    height: 65px;
    margin: 15px 0 0 22px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    width: 60px;
}

a.a1_vipadayuschaya_korzina i.total_korzina_index {
    color: #fff;
    font: bold 11px/11px 'Roboto', sans-serif;
    height: 11px;
    left: 27px;
    position: absolute;
    text-decoration: none;
    top: 8px;
}


.vipadayuschaya_korzina span.span1_vipadayuschaya_korzina {
    border-bottom: 1px solid #000;
    color: #000;
    display: block;
    font: 14px/16px 'Roboto', sans-serif;
    height: 16px;
    position: absolute;
    right: 0;
    top: 46px;
}

.nav_wrap{
    position: relative;
    height: 48px;
    border-top: 3px solid #898989;
    border-bottom:3px solid #f26522 ;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4d4d4d+18,2d2d2d+51,040404+70,040404+84 */
    background: rgb(77,77,77); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxOCUiIHN0b3AtY29sb3I9IiM0ZDRkNGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiMyZDJkMmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3MCUiIHN0b3AtY29sb3I9IiMwNDA0MDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4NCUiIHN0b3AtY29sb3I9IiMwNDA0MDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(77,77,77,1) 18%, rgba(45,45,45,1) 51%, rgba(4,4,4,1) 70%, rgba(4,4,4,1) 84%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(77,77,77,1) 18%,rgba(45,45,45,1) 51%,rgba(4,4,4,1) 70%,rgba(4,4,4,1) 84%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(77,77,77,1) 18%,rgba(45,45,45,1) 51%,rgba(4,4,4,1) 70%,rgba(4,4,4,1) 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#040404',GradientType=0 ); /* IE6-8 */
}

.nav_wrap ul {
    float: left;
    margin-right: 10px;
    padding: 0;
    width: 49%;
}

.nav_wrap ul li{
    position: relative;
    display: inline-block;
    border-right: 2px solid #404141;
}

.nav_wrap ul li>a{
    color: #fff;
    display: block;
    font: 15px/48px 'Roboto', sans-serif;
    height: 48px;
    padding: 0 24px;
}

.nav_wrap ul li>a:hover{
    background: #ff6600;
}

.search {
    float: right;
    padding-top: 14px;
    width: 225px;
}



.inputbox {
    border: 1px solid #8b8b8b;
    border-radius: 8px;
    box-shadow: 0 3px 3px 1px #c9c9c9 inset;
    color: #000;
    float: left;
    font: 11px/16px 'Roboto', sans-serif;
    height: 23px;
    margin: 0 13px 0 0;
    padding: 3px 5px 2px;
    width: 161px;
}

.search input[type="submit"] {
    border: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    width: 18%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,ff8e15+0,ff7201+76,ff7201+95,ff7201+100,ff7201+100 */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #ff8e15 0%, #ff7201 76%, #ff7201 95%, #ff7201 100%, #ff7201 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#ff8e15 0%,#ff7201 76%,#ff7201 95%,#ff7201 100%,#ff7201 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1e5799 0%,#ff8e15 0%,#ff7201 76%,#ff7201 95%,#ff7201 100%,#ff7201 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ff7201',GradientType=0 ); /* IE6-9 */
    cursor: pointer;
    display: none;
}

.search input[type="submit"]:hover {
    opacity: 0.5;
    transition: 700ms;
    -webkit-transition: 700ms;
}

.search_results{
    padding-top:25px;
    z-index: 1000;
    display:none;
}


.search_results > p {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-left: 15px;
}

.search_results ul{
    padding: 0;
    width: 100%;
    margin-right: 0;

}

.search_results ul li{
    display: block;
    border-top: 1px solid #b3b3b3;
    box-sizing: border-box;
    padding: 0;
    border-right: none;
    width: 100% !important;
}

.search_results_item{
    display: block;
    padding: 13px 25px !important;
    height: 60px !important;
}

.search_results_item:hover{
    background: none !important;
}

.search_results_item>img{
    display: inline-block;
    width: 60px;
    margin-right: 20px;
}

.search_results_item>div{
    display: inline-block;
    margin-top: 9px;
    vertical-align: top;
}

.search_results_item>div>p{
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 0;
    display: block;
}

.search_results_item>div>span{
    font-size: 14px;
    color: #000000;
    margin-bottom: 0;
    display: block;
}

.found_not_found{
    display: none;
    position: static !important;
    padding-top: 0 !important;
}

.not_found {
    background: #ffffff none repeat scroll 0 0;
    box-sizing: border-box;
    display: none;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 24px;
}

.not_found span{
    color: #ff6f00;
    font-size: 16px;
}
/*slider*/

.header--slider {
    height: 390px;
    min-width: 350px;
    position: relative;
    width: 100%;
}

.sm_slide {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    height: 390px;
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 0;
}

.header--slider li.sm_nav-item {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 50%;
    border: 1px solid #1b1b1b;
    cursor: pointer;
    display: inline-block;
    height: 8px;
    list-style-type: none;
    margin-right: 5px;
    width: 8px;
    z-index: 999;
}

.active{
    /*background: #1b1b1b;*/
}

.content_nav_wrap{
    width: 100%;
    max-width: 970px;
    margin: auto;
    padding: 20px 0;
}

.content_nav_wrap ul{
    display: flex;
    justify-content:space-around;
    flex-flow: wrap;
}

.content_nav_wrap ul>li{
    position: relative;
    width: 215px;
}

.a_wrap{
    width: 140px;
    margin: auto;
}

.content_nav_wrap ul>li>a{
     border-bottom: 1px solid transparent;
     border-left: 1px solid transparent;
     border-right: 1px solid transparent;
     color: #000;
     float: left;
     font: 400 14px/16px 'Roboto', sans-serif;
     height: 40px;
     margin: 0;
     padding: 17px 35px;
     text-decoration: none;
     display: block;
 }

.content_nav_wrap ul>li>a:hover{
   background: #f1f2f3;
}

.content_nav_wrap ul>li>a img{
    display: inline-block;
    position: relative;
    float: left;
    margin-right: 10px;
}

.content_nav_wrap ul>li>a span{
    float: right;
    display: inline-block;

}

.pop-up_window {
    background-color: #333;
    border-color: #f26522 #000000 #000000;
    border-style: solid;
    border-width: 3px 1px 1px;
    bottom: 75px;
    display: none;
    left: 0;
    padding-bottom: 24px;
    position: absolute;
    width: 387px;
    z-index: 1000;
}

.pop-up_window a{
    position: absolute;
    width: 16px;
    height: 16px;
    background: url("../img/krest.png") no-repeat;
    right: 7px;
    top: 5px;
    display: none;
}

.first:before{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;
    bottom: -10px;
    content: "";
    left: 30%;
    position: absolute;

}

.last:before{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;
    bottom: -10px;
    content: "";
    right: 30%;
    position: absolute;

}

.first {
    left: -18px;
 }

.last{
    left:-170px ;
}


.pop-up_window h3 {
    clear: left;
    color: #fff;
    float: left;
    font: 700 14px/19px 'Roboto', sans-serif;
    margin: 7px 0 0 21px;
    min-height: 19px;
    display: block;
}

.pop-up_window p {
    clear: left;
    color: #fff;
    float: left;
    font: 400 12px/18px 'Roboto', sans-serif;
    margin: 6px 0 0 21px;
    display: block;
}


.labels {
    margin: -8px auto 0;
    max-width: 970px;
    width: 100%;
}


.label {
    background: rgba(0, 0, 0, 0) url("../img/lines.png") repeat scroll 0 0;
    border: 1px solid #e3e3e3;
    border-radius: 7px;
    margin-bottom: 14px;
    padding: 38px 5px 7px;
    position: relative;
}


.label .gallery {
    background-color: #fff;
    border-radius: 7px;
    padding: 15px 0 12px;
}

.label-title {
    background: rgba(0, 0, 0, 0) url("../img/label-bg.png") repeat scroll 0 0;
    color: #fff;
    font: 15px/20px 'Roboto', sans-serif;
    height: 22px;
    left: -6px;
    padding: 3px 5px 0 0;
    position: absolute;
    text-align: center;
    top: 4px;
    width: 126px;
}


.gallery .prev {
    background: rgba(0, 0, 0, 0) url("../img/sprites.png") repeat scroll -217px -55px;
    display: block;
    height: 27px;
    left: 11px;
    position: absolute;
    text-indent: -9999px;
    top: 143px;
    width: 27px;
}

.gallery .next {
    background: rgba(0, 0, 0, 0) url("../img/sprites.png") repeat scroll -248px -56px;
    display: block;
    height: 27px;
    position: absolute;
    right: 11px;
    text-indent: -9999px;
    top: 143px;
    width: 27px;
}

.gallery{
    background-color: #fff;
    border-radius: 7px;
    padding: 15px 0 12px;
}

.gallery-wrap{
    margin: 0 auto;
    max-width: 888px;
    width: 100%;
}

.gallery-wrap ul{
   position: relative;
    display: block;
}

.gallery-wrap ul li{
    border:1px solid rgba(0,0,0,0);
    padding: 5px 3px;
    position: relative;
    text-align: center;
    width: 213px;
}

.labels h2{
    font-size: 25px;
    font-weight: bold;
    margin-bottom:0 ;
    margin-left: 15px;
    display: none;
}

.gallery-wrap ul li:hover{
    border:1px solid #c1c1c1;
}

.img_box{
    display: block;
    width: 100%;
    padding-bottom: 12px;
}

.img_box img{
    max-width: 200px;
    display: block;
    margin: auto;
}

.brand{
    color: #1b1b1b;
    font: bold 12px/14px 'Roboto', sans-serif;
    text-align: left;
    display: block;
}

.name{
    padding-bottom: 9px;
    text-align: left;
    display: block;
    color: #1b1b1b;
    font: 12px/14px 'Roboto', sans-serif;
}

.price{
    text-align: left;
}

.price p{
    font-size: 17px;
    display: inline-block;
    margin-right: 9px;
    margin-bottom: 0;
}

.price span{
    font-size: 14px;
    color: #ed1200;
    text-decoration: line-through;
    display: none;
    margin-top: 4px;
    margin-bottom: 0;
}

.gallery-wrap ul li:hover .fast-view{
   display: block;
}

.fast-view{
    background: rgba(112,112,112,0.7)repeat scroll 0 0;
    color: #fff;
    display: none;
    font: 12px/29px 'Roboto', sans-serif;
    height: 29px;
    left: 50%;
    margin-left: -75px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 201px;
    width: 150px;
}

.fast-view:hover {
    background: #1b1b1b none repeat scroll 0 0;
    font-weight: bold;
}


.seo_text{
    padding: 0 0 16px;
    color: #525252;
    font: 14px/18px 'Roboto', sans-serif;
    margin:30px auto 0 ;
    width: 100%;
    max-width: 935px;
}


.brands_bottom {
    box-sizing: border-box;
    margin: 10px auto 20px;
    max-width: 930px;
    padding: 0 25px;
    width: 100%;
}

.brands_bottom a, .brands_bottom p {
    color: #000;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
}

.brands_bottom p>.arrow_a{
    display: none;
}

.subs-b-wrap {
    background: #efefef url("../img/gift.png") no-repeat scroll right center;
    height: 75px;
    margin: 0 auto;
    max-width: 980px;
    width:100%;
    position: relative;
}

.subs-b-wrap p {
    color: #000;
    display: inline-block;
    font-size: 18px;
    margin: 25px 50px 0 20px;
}

.subs-b-wrap a {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff8d29+42,ff6c06+61 */
    background: rgb(255,141,41); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0MiUiIHN0b3AtY29sb3I9IiNmZjhkMjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2MSUiIHN0b3AtY29sb3I9IiNmZjZjMDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(255,141,41,1) 42%, rgba(255,108,6,1) 61%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,141,41,1) 42%,rgba(255,108,6,1) 61%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,141,41,1) 42%,rgba(255,108,6,1) 61%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8d29', endColorstr='#ff6c06',GradientType=0 ); /* IE6-8 */
    border: 1px solid #f87e20;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #ededed;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 10px 30px;
    text-transform: uppercase;
}
.subs-b-wrap a:hover {
    opacity: 0.8;
}

/*found not found*/

.breadcrumbs{
    display: inline-block;
    padding: 15px 25px;
    box-sizing: border-box;
}

.breadcrumbs a{
    display: inline-block;
    font-size: 14px;
    margin-right: 20px;
    vertical-align: middle;
    position: relative;
}

.breadcrumbs a::after {
    color: #000000;
    content: ">";
    display: inline-block;
    font-size: 15px;
    height: 7px;
    right: -15px;
    position: absolute;
    top: -1px;
    width: 8px;
}

.breadcrumbs span{
    display: inline-block;
    font-size: 14px;
    color: #898989;
    vertical-align: middle;
    margin-bottom: 0;
}

.breadcrumbs a:hover{
    text-decoration: underline;
}

.back_link{
    position: relative;
}

.back_link::before {
    background: rgba(0, 0, 0, 0) url("../img/arrow-2.png") no-repeat scroll 0 0;
    content: "";
    display: inline-block;
    height: 9px;
    left: -13px;
    position: absolute;
    top: 6px;
    width: 7px;
}

.breadcrumbs>.back_link::after {
    background: rgba(0, 0, 0, 0) url("../img/separ-2.png") repeat scroll 0 0;
    content: "";
    display: inline-block;
    height: 15px;
    position: absolute;
    right: -13px;
    top: 3px;
    width: 2px;
}

.breadcrumbs_back{
    display: none;
    font-size: 16px;
    font-weight: bold;
    color: #bdbdbd;
    padding-left: 27px;
    position: relative;
    margin-top: 15px;
}

.breadcrumbs_back:before{
    position: absolute;
    content: "";
    left: 6px;
    top: -4px;
    background: url("../img/bread_arrow.png");
    width: 17px;
    height: 31px;
}

.found{
    display:none;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 24px;
    box-sizing: border-box;
    background: #ffffff;
    margin-bottom: 0;
}

.page_content{
    box-sizing: border-box;
    padding: 0 25px;
    margin-top: 30px;
    position: relative;
}

.border{
    height: 1px;
    background: #d1d1d1;
    margin: 23px auto 6px;
    display: none;
}

section{
    width: 100%;
    max-width: 625px;
    float: left;
    position: relative;
}

.section_img{
    width: 100%;
}

.date{
    display: block;
    color: #595959;
    font-size: 14px;

}

.date span{
    color: #000;
    font-size: 14px;

}

section .seo_text>p{
    color: #595959;
}

section .seo_text{
    margin: 15px auto 0;
}

section h1{
    border-bottom: 1px solid #d1d1d1;
    display: block;
    font-size: 25px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.soc_btn{
    margin: 0 auto 35px;
    position: relative;
}

.soc_btn_comment{
    display: inline-block;
    border: 1px solid #fb6b1b;
    border-radius: 5px;
    padding: 9px 30px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc8d28+50,fb6c1b+100 */
    background: #fc8d28; /* Old browsers */
    background: -moz-linear-gradient(top,  #fc8d28 50%, #fb6c1b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fc8d28 50%,#fb6c1b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fc8d28 50%,#fb6c1b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8d28', endColorstr='#fb6c1b',GradientType=0 ); /* IE6-9 */
    font-size: 14px;
    color: #ffffff;
    float: right;
}

.ya-share2{
    vertical-align: middle;
    height: 40px;
    float: left;
    width: 43%;
}

.comments_wrap{
    margin: 0 auto 100px;
    box-sizing: border-box;
}

.comments_wrap ul{
    margin-bottom: 40px;
}

.comments_wrap ul li{
    box-sizing: border-box;
}

.comments_title{
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}

.comment{
    width: 100%;
    display: block;
    padding-bottom: 30px;
    border-bottom: 1px solid #ebebeb;
    position: relative;
}

.comment span{
    font-size: 14px;
    display:block;
    color: #c1c1c1;
    font-weight: bold;
}

.comment p{
    font-size: 14px;
    margin-bottom: 0;
    display:block;
    color: #000;
}

.comment a{
    font-size: 14px;
    display:inline-block;
    color: #000;
    position: absolute;
    right: 3px;
    padding: 8px 24px;
    top: 20%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdfdfd+50,ffffff+50,ffffff+54,f6f6f6+61,f6f6f6+66,f2f2f2+100 */
    background: #fdfdfd; /* Old browsers */
    background: -moz-linear-gradient(top,  #fdfdfd 50%, #ffffff 50%, #ffffff 54%, #f6f6f6 61%, #f6f6f6 66%, #f2f2f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fdfdfd 50%,#ffffff 50%,#ffffff 54%,#f6f6f6 61%,#f6f6f6 66%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fdfdfd 50%,#ffffff 50%,#ffffff 54%,#f6f6f6 61%,#f6f6f6 66%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
    border:1px solid #cdcdcd;
    border-radius: 5px;
}

.sub_comment{
    width: 100%;
    display: block;
    padding:18px 0  30px 50px;
    border-bottom: 1px solid #ebebeb;
    position: relative;
}

.sub_comment span{
    font-size: 14px;
    display:block;
    color: #c1c1c1;
    font-weight: bold;
}

.sub_comment p{
    font-size: 14px;
    margin-bottom: 0;
    display:block;
    color: #000;
}

.sub_comment a{
    font-size: 14px;
    display:inline-block;
    color: #000;
    position: absolute;
    right: 3px;
    padding: 8px 24px;
    top: 35%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdfdfd+50,ffffff+50,ffffff+54,f6f6f6+61,f6f6f6+66,f2f2f2+100 */
    background: #fdfdfd; /* Old browsers */
    background: -moz-linear-gradient(top,  #fdfdfd 50%, #ffffff 50%, #ffffff 54%, #f6f6f6 61%, #f6f6f6 66%, #f2f2f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fdfdfd 50%,#ffffff 50%,#ffffff 54%,#f6f6f6 61%,#f6f6f6 66%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fdfdfd 50%,#ffffff 50%,#ffffff 54%,#f6f6f6 61%,#f6f6f6 66%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
    border:1px solid #cdcdcd;
    border-radius: 5px;
}

.back_to_list{
    font-size: 14px;
    color: #000000;
    display: inline-block;
    padding: 4px 14px;
    border:1px solid #cdcdcd;
    border-left: none ;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdfdfd+50,ffffff+50,ffffff+54,f6f6f6+61,f6f6f6+66,f2f2f2+100 */
    background: #fdfdfd; /* Old browsers */
    background: -moz-linear-gradient(top,  #fdfdfd 50%, #ffffff 50%, #ffffff 54%, #f6f6f6 61%, #f6f6f6 66%, #f2f2f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fdfdfd 50%,#ffffff 50%,#ffffff 54%,#f6f6f6 61%,#f6f6f6 66%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fdfdfd 50%,#ffffff 50%,#ffffff 54%,#f6f6f6 61%,#f6f6f6 66%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
    position: relative;
    margin-left: 5px;
}

.back_to_list:before {
    position: absolute;
    content: "";
    left: -8px;
    top: 0;
    width: 8px;
    display: block;
    height: 29px;
    background: url("../img/arrow_back.png") no-repeat;
}


.seo_text_display_block{
    display: none;
}

aside{
    width: 100%;
    max-width: 290px;
    float: right;

}

.blog_topics{
    width: 100%;
    margin: 0 auto 40px;
    padding-left: 23px;
    box-sizing: border-box;
}

.blog_topics p{
   display: block;
    font-size: 18px;
    font-weight: 300;
    color: #000000;
    margin-bottom: 20px;
}

.blog_topics ul li{
    display: block;
    margin-bottom: 15px;
}

.blog_topics ul li>a{
   font-size: 15px;
    color: #010101;
    text-decoration: underline;
}

.blog_topics ul li:last-child{
    margin-bottom: 0;
}

.blog_topics ul li>a>span{
    font-size: 15px;
    color: #010101;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0;
}

.popular_materials{
    width: 100%;
    box-sizing: border-box;
    background: #f2f2f2;
}

.materials_title{
    font-size: 18px;
    font-weight: 300;
    display: block;
    box-sizing: border-box;
    padding: 20px 22px;
    color: #e5e5e5;
    background: #3c3b3c;
    text-align: center;
    margin-bottom: 0;
}

.popular_materials ul{
    display: block;
    box-sizing: border-box;
    padding: 25px;
    margin: auto;
}

.popular_materials ul li{
   display: block;
   margin-bottom: 30px;
}

.popular_materials ul li:last-child{
    margin-bottom: 0;
}

.popular_materials ul li>a{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #000000;
    position: relative;
}

.popular_materials ul li>a:before{
    display: inline-block;
    position: absolute;
    content: "";
    left: -12px;
    top: 7px;
    background: url("../img/aside_arrow.png");
    width: 4px;
    height: 10px;
}

.popular_materials ul li>p{
    display: block;
    margin-bottom: 0;
    font-size: 14px;
    color: #999999;
}

.popular_materials ul li span{
    font-size: 14px;
    color: #000000;
    display: inline-block;
    margin-bottom: 0;
}

.materials_comments{
    color: #000000;
    margin-bottom: 0;
    display: inline-block;
    font-size: 14px;
    position: relative;
    margin-left: 40px;
}

.materials_comments:before{
    display: inline-block;
    position: absolute;
    content: "";
    left: -23px;
    top: 3px;
    background: url("../img/comment.png");
    width: 18px;
    height: 16px;
}

.aside_blog{
    float: left;
}

.section_blog{
    float: right;
}

.section_blog h1{
    margin-bottom: 30px;
}

.blog_wrap{
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.blog_item{
    width: 195px;
    padding-bottom: 40px;
}

.blog_item a{
     display: block;
     font-size: 16px;
     color: #010101;
     margin-bottom: 19px;
 }

.blog_item a img{
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.blog_item > p {
    color: #999999;
    display: block;
    font-size: 14px;
    margin-bottom: 0;
}

.blog_item p span {
    color: #000000;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 0;
}

.show_more{
    display: none;
    padding:17px 0 ;
    font-size: 16px;
    font-style: italic;
    color: #000000;
    position: relative;
    background: #d9d9d9;
    text-align: center;
    font-family: "Arial", sans-serif;
    margin-bottom: 30px;
}

.show_more img{
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 15px;
    margin-left: 15px;
    margin-top: 5px;
}

.brands_bottom_blog{
    display: none;
    margin-bottom: 30px;
    margin-top: -7px;
}

.blog_title_480{
    color: #4c4c4c !important;
    font-size: 16px !important;
    font-weight: bold;
    margin-bottom: 15px !important;
    display: none;
    text-decoration: underline;
}

.blog_time_480{
    font-size: 14px;
    color: #4c4c4c;
    margin-bottom: 15px !important;
    display: none;
}

.materials_comments_480{
    display: none;
    margin-left: 25px;
    color: #4c4c4c;
    margin-bottom: 23px;
}

.thank_ordering{
    box-sizing: border-box;
}

.thank_ordering h1{
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}

.reviews_content{
    margin-top: 20px;
}

.reviews_section{
    background: #ffffff;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    max-width: 668px;
    box-sizing: border-box;
    margin-bottom: 50px;
    margin-top: 10px;
}

.reviews_section_container{
    box-sizing: border-box;
    padding: 10px 8px;
}

.rl_top{
    background:url("../img/rl-top.png") no-repeat scroll center bottom;
    width: 100%;
    height: 14px;
    margin-bottom: 10px;
    position: absolute;
    top: -12px;
}

.rl_bot{
    background:url("../img/rl-bot.png") no-repeat scroll center bottom;
    width: 100%;
    height: 14px;
    position: absolute;
    bottom: -12px;
}



.wr {
    background: #ededed none repeat scroll 0 0;
    border-radius: 15px;
    box-shadow: 3px 3px 0 #acacac;
    color: #000000;
    display: block;
    float: right;
    font: italic 11px/28px Arial;
    margin-right: 12px;
    padding: 1px 0;
    text-align: center;
    text-decoration: underline;
    width: 109px;
}

.wr:hover{
    background: #dad8d8;
}

.reviews_section_container ul li{
    display: block;
    border-top: 1px solid #f5f5f5;
    padding: 6px 0 10px;
    box-sizing: border-box;
    background: #fcfcfc;
    position: relative;
}

.reviews_section_container ul li:first-child{
    border-top: 1px solid #dfdfdf;
}

.reviews_section_container ul li p{
    color: #393939;
    font-size: 14px;
    margin-bottom: 10px;
}

.review-name{
    float: right;
    padding-right: 3px;
    margin-bottom: 5px;
    color: #393939;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    text-align: right;
}

.reviews_h2{
    background: url("../img/reviews-title.png") no-repeat scroll 0 0;
    color: #000;
    font: 14px/16px Arial;
    margin: 0 0 11px;
    padding: 4px 0 0 30px;
    text-shadow: 1px 0 0 #969696;
}

.reviews_item{
    margin-bottom: 10px;
}

.reviews_item h4{
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
}

.reviews_item a{
    display: inline-block;
    cursor: url("../img/zoom-cursor.png"),pointer;
}

.reviews_item a img{
    border: 1px solid #cacaca;
    box-shadow: 4px 4px 4px 0 #aaa;
}

.aside_reviews{
    max-width: 240px;
}

.pagination .back_to_list{
    float: left;
    text-decoration: underline;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-style: italic;
}

.pagination .back_to_list:hover{
    text-decoration: none;
}

.pagination{
    margin-top: 50px;
}

.pagination ul{
    float: right;
    height: 22px;
    margin: 0;
    padding: 0 6px 0 0;
}

.pagination ul li{
    display: inline-block;
    margin-right:5px;
    border-top: none;
}

.pagination ul li:first-child{
    border-top: none;
}


.pagination ul li:last-child{
    margin-right:0;
}

.pagination ul li>.dotted{
    width: auto;
    background: none;
    border: none;
    text-decoration: none;
}

.pagination ul li a{
    display: inline-block;
    background: #eeeff0;
    border: 1px solid #e2e2e2;
    font-size: 14px;
    height: 22px;
    width: 22px;
    text-align: center;
}

.pagination ul li a:hover{
   text-decoration: underline;
}

.pagination ul li>.active{
    background: #000;
    border: 1px solid #000;
    color: #ffffff;
}

.pagination ul li>.pagination_arrow{
    height: auto;
    width: auto;
    background: none;
    border: none;
}


.aside_reviews>.subheader_item_right {
    display: block;
    float: none;
    vertical-align: top;
    width: 100%;
    box-sizing: border-box;
}

.aside_reviews>.subheader_item_right li{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    border-bottom: 1px dashed #dfdfdf;
    padding: 25px 21px 25px 93px;
    background: #fafafa;
    position: relative;
}

.aside_reviews>.subheader_item_right li:hover{
    background: #ebebeb;
}


.aside_reviews>.subheader_item_right>.li_item1:before{
    display: block;
    position: absolute;
    content: "";
    background: url("../img/bnft-1.png");
    width: 44px;
    height: 36px;
    left: 37px;
    top: 21%;
}

.aside_reviews>.subheader_item_right>.li_item2:before{
    display: block;
    position: absolute;
    content: "";
    background: url("../img/ben-1.png");
    width: 33px;
    height: 20px;
    left: 37px;
    top: 35%;
}

.aside_reviews>.subheader_item_right>.li_item3:before{
    display: block;
    position: absolute;
    content: "";
    background: url("../img/bnft-3.png");
    width: 33px;
    height: 31px;
    left: 37px;
    top: 28%;
}

.aside_reviews>.subheader_item_right>.li_item4:before{
    display: block;
    position: absolute;
    content: "";
    background: url("../img/bnft-4.png");
    width: 35px;
    height: 34px;
    left: 37px;
    top: 28%;
}

.aside_reviews>.subheader_item_right>.li_item5:before{
    display: block;
    position: absolute;
    content: "";
    background: url("../img/bnft-5.png");
    width: 36px;
    height: 26px;
    left: 37px;
    top: 32%;
}

.aside_reviews>.subheader_item_right>.li_item6:before{
    display: block;
    position: absolute;
    content: "";
    background: url("../img/bnft-7.png");
    width: 31px;
    height: 28px;
    left: 37px;
    top: 33%;
}

.aside_reviews>.subheader_item_right>.li_item7:before{
    display: block;
    position: absolute;
    content: "";
    background: url("../img/bnft-6.png");
    width: 31px;
    height: 30px;
    left: 37px;
    top: 30%;
}

/*psecdofooter*/
.psevdofooter{
    height:331px ;
}
/*footer*/

footer{
    width: 100%;
    max-width: 980px;
    min-width: 280px;
    margin: auto;
    background: #333333;
    height: 55px;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
}

.footer_left{
    float: left;
}

.footer_menu{
    display: inline-block;
    margin: 0 100px 0 0;
    padding: 20px 0 0;
}

.footer_menu a{
    display: inline-block;
    margin: 0 50px 0 0;
    color: #fff;
    font-size: 12px;
}

.footer_menu a:last-child{
   margin-right: 0;
}

.callback{
    display: inline-block;
    padding-top: 20px;
    color: #f56a3f;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}

.footer_right{
    float: right;
}

.footer-contacts p,.footer-contacts span {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-right: 20px;
    padding-top: 11px;
    margin-bottom: 0;
}

.footer-contacts a{
    background: rgba(0, 0, 0, 0) url("../img/f_insta.png");
    display: inline-block;
    height: 29px;
    position: relative;
    top: 10px;
    width: 29px;
}


.multimenu {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+15,ffffff+61,ffffff+100 */
    background: rgb(238,238,238); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNSUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2MSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 15%, rgba(255,255,255,1) 61%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 15%,rgba(255,255,255,1) 61%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(238,238,238,1) 15%,rgba(255,255,255,1) 61%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
    border-bottom: 1px solid #797979;
    border-top: 3px solid #f9b35e;
    box-shadow: 4px 4px 4px 0 #787878;
    display: none;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 48px;
    width: 480px;
    z-index: 1000;
    box-sizing: border-box;
}

nav.nav_wrap ul>li:hover .multimenu{
    display: block;
}

.multimenu-1 {
    width: 100%;
}


.multimenu-one {
    border-bottom: 1px dashed #000;
    margin-bottom: 20px;
    padding-bottom: 20px;
}


.multimenu h4 {
    color: #ff6600;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 15px 10px 0;
}


.multimenu a {
    color: #000;
    display: inline-block;
    font-size: 14px;
    margin: 0 15px 10px 0;
    text-decoration: underline;
}
